langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-openai
langgraph
langsmith
streamlit
fastapi
uvicorn
python-multipart
supabase
pymupdf
python-dotenv
sentence-transformers
openai
tiktoken
pypdf
numpy
torch